<!doctype html><p align=center><font size=+1 color=red></font></p>
<p align=center><font size=+1 color=red></font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel public_prestamo search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN idprestamo_fieldblock}		
	<div class="container {$fielddispclass_idprestamo}" data-fieldname="idprestamo">
		<div class="form-group">
			<div class="col-md-2">
				{$label public_prestamo idprestamo}
			</div>
			<div class="col-md-2" >
				{$searchtype_idprestamo}
			</div>
			<div class="col-md-4" >
				{$idprestamo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$idprestamo_editcontrol1}
			</div>
		</div>
	</div>
{END idprestamo_fieldblock}
	{BEGIN fecha_prestamo_fieldblock}		
	<div class="container {$fielddispclass_fecha_prestamo}" data-fieldname="fecha_prestamo">
		<div class="form-group">
			<div class="col-md-2">
				{$label public_prestamo fecha_prestamo}
			</div>
			<div class="col-md-2" >
				{$searchtype_fecha_prestamo}
			</div>
			<div class="col-md-4" >
				{$fecha_prestamo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$fecha_prestamo_editcontrol1}
			</div>
		</div>
	</div>
{END fecha_prestamo_fieldblock}
	{BEGIN fecha_devolucion_fieldblock}		
	<div class="container {$fielddispclass_fecha_devolucion}" data-fieldname="fecha_devolucion">
		<div class="form-group">
			<div class="col-md-2">
				{$label public_prestamo fecha_devolucion}
			</div>
			<div class="col-md-2" >
				{$searchtype_fecha_devolucion}
			</div>
			<div class="col-md-4" >
				{$fecha_devolucion_editcontrol}
			</div>
			<div class="col-md-4" >
				{$fecha_devolucion_editcontrol1}
			</div>
		</div>
	</div>
{END fecha_devolucion_fieldblock}
	{BEGIN diasprestamo_fieldblock}		
	<div class="container {$fielddispclass_diasprestamo}" data-fieldname="diasprestamo">
		<div class="form-group">
			<div class="col-md-2">
				{$label public_prestamo diasprestamo}
			</div>
			<div class="col-md-2" >
				{$searchtype_diasprestamo}
			</div>
			<div class="col-md-4" >
				{$diasprestamo_editcontrol}
			</div>
			<div class="col-md-4" >
				{$diasprestamo_editcontrol1}
			</div>
		</div>
	</div>
{END diasprestamo_fieldblock}
	{BEGIN idejemplar_fieldblock}		
	<div class="container {$fielddispclass_idejemplar}" data-fieldname="idejemplar">
		<div class="form-group">
			<div class="col-md-2">
				{$label public_prestamo idejemplar}
			</div>
			<div class="col-md-2" >
				{$searchtype_idejemplar}
			</div>
			<div class="col-md-4" >
				{$idejemplar_editcontrol}
			</div>
			<div class="col-md-4" >
				{$idejemplar_editcontrol1}
			</div>
		</div>
	</div>
{END idejemplar_fieldblock}
	{BEGIN idlector_fieldblock}		
	<div class="container {$fielddispclass_idlector}" data-fieldname="idlector">
		<div class="form-group">
			<div class="col-md-2">
				{$label public_prestamo idlector}
			</div>
			<div class="col-md-2" >
				{$searchtype_idlector}
			</div>
			<div class="col-md-4" >
				{$idlector_editcontrol}
			</div>
			<div class="col-md-4" >
				{$idlector_editcontrol1}
			</div>
		</div>
	</div>
{END idlector_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Buscar</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reiniciar</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Volver a la lista</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
