<!doctype html><p align=center><font size=+1 color=red></font></p>
<p align=center><font size=+1 color=red></font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{BEGIN container_menu}<nav {$menu_chiddenattr} data-pageid="{$pageid}" data-container="menu" class="navbar navbar-default ">					



{BEGIN container_hdr}
<div {$hdr_chiddenattr} data-pageid="{$pageid}" data-container="hdr" class=" navbar-header   "> 

{BEGIN logo_block}
<a href="{$home_link}" {$logo_hiddenattr} data-pageid="{$pageid}" data-brick="logo" class="navbar-brand" >{$logo}</a>
{END logo_block}


{BEGIN collapse_block}
<button {$bsnavbarcollapse_hiddenattr} data-pageid="{$pageid}" data-brick="bsnavbarcollapse" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target=".bs-navcontrolled">	
	<span class="sr-only">Toggle navigation</span>	
	<span class="icon-bar"></span>					
</button>												

{END collapse_block}



</div>
{END container_hdr}






{BEGIN container_menu_1}<div {$menu_1_chiddenattr} data-pageid="{$pageid}" data-container="menu_1" class="bs-navform navbar-collapse bs-navcontrolled bs-hidden-xs" aria-expanded="false" >												   
{BEGIN menu_block}
{$menu main horizontal}

{END menu_block}





{BEGIN container_more}
<div {$more_chiddenattr} data-pageid="{$pageid}" data-container="more" class=" navbar-right navbar-form   "> 

{BEGIN more_list}
<div {$morebutton_hiddenattr} data-pageid="{$pageid}" data-brick="morebutton" class="btn-group bs-navsection">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-cog"></span>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
		
				{BEGIN exportselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$exportselectedlink_attrs} {$exportselectedlink_span} >Exportar seleccionados</a></li>
		{END exportselected_link}
		
				{BEGIN deleteselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}>Borrar articulos seleccionados</a></li>
		{END deleteselected_link}
		
				<li role="separator" class="divider"></li>	

				{BEGIN asearch_link}
		<li><a href="public_libro_search.php" {$advsearchlink_attrs}>Búsqueda avanzada</a></li>
		{END asearch_link}

				{BEGIN searchPanelTopButtons}
		<li><a href=# id="showOptPanel{$id}">Mostrar panel de búsqueda</a></li>
		{END searchPanelTopButtons}	
		
				
				<li role="separator" class="divider"></li>	
		
				
				{BEGIN export_link}
		<li><a target="_blank" href="public_libro_export.php"  {$exportlink_attrs}>Exportar resultados</a></li>
		{END export_link}

				{BEGIN import_link}
		<li><a href="public_libro_import.php?{$crosstable_attrs}"  {$importlink_attrs}>Importar</a></li>
		{END import_link}

				
	</ul>  
</div>

{END more_list}


{BEGIN security_block}
<span {$loggedas_hiddenattr} data-pageid="{$pageid}" data-brick="loggedas" id="login_block{$id}" class="bs-navsection">
	{BEGIN guestloginbutton}
		<button class="btn btn-info" type="button" {$guestloginlink_attrs}>Conectar</button>
	{END guestloginbutton}
	{BEGIN loggedas_message} 
		<span class="dropdown">
			<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-user"></span>	{$username}</button>
			<ul class="dropdown-menu">
		{BEGIN logoutbutton}
				<li><a href="#" {$logoutlink_attrs}>Desconectarse</a></li>
		{END logoutbutton}
		

			</ul>
		</span>
	{END loggedas_message}
</span>
{END security_block}



</div>
{END container_more}








{BEGIN container_more_1}
<div {$more_1_chiddenattr} data-pageid="{$pageid}" data-container="more_1" class=" navbar-right navbar-form   "> 

{BEGIN searchform_block}
<span {$search_hiddenattr} data-pageid="{$pageid}" data-brick="search" class="form-group">

 <div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar todo">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>
{END searchform_block}



</div>
{END container_more_1}




												</div>						{END container_menu_1}


									</nav>{END container_menu}
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				

{BEGIN container_breadcrumbs}
<div {$breadcrumbs_chiddenattr} data-pageid="{$pageid}" data-container="breadcrumbs" class="    "> 




{BEGIN container_bc}
<div {$bc_chiddenattr} data-pageid="{$pageid}" data-container="bc" class="    "> 

{BEGIN breadcrumbs}
<ol class="breadcrumb">
<li ><a href="{$home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumbs}



</div>
{END container_bc}






</div>
{END container_breadcrumbs}



{BEGIN container_masterinfo}
<div {$masterinfo_chiddenattr} data-pageid="{$pageid}" data-container="masterinfo" class="    "> 

{BEGIN mastertable_block}
<div class="panel panel-info table-panel">
	<div class="panel-heading">
		{$master_heading}
	</div>
	<div class="panel-body">
		{$showmasterfile}
		
	</div>
</div>

{END mastertable_block}



</div>
{END container_masterinfo}


			</div>
			<div class="bs-left" {$blockattr_left}>
				

{BEGIN container_left}
<div {$left_chiddenattr} data-pageid="{$pageid}" data-container="left" class="    "> 

{BEGIN searchPanel}
<div {$searchpanel_hiddenattr} data-pageid="{$pageid}" data-brick="searchpanel" class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} >
	<!-- Search panel content -->
	
	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Búsqueda
			<span class="caret"></span>
			</button>
		</div>

		
		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Mostrar opciones</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>todas las condiciones</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>cualquier condición</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>esconder</a></li>
			</ul>
		</div>
	
		
		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}


	</div>
	
	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>Mostrar todo</button>
	</div>
</div>


{END searchPanel}




</div>
{END container_left}


			</div>
			<div class="bs-center bs-screenwidth bs-minwidth">
				

{BEGIN container_messagerow}
<div {$messagerow_chiddenattr} data-pageid="{$pageid}" data-container="messagerow" class="row rnr-rowcontainer ">




{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-12 "> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">{$message}</div>
{END message_block}



</div>
{END container_message}






</div>{END container_messagerow}



{BEGIN container_gridcontrols}
<div {$gridcontrols_chiddenattr} data-pageid="{$pageid}" data-container="gridcontrols" class="row rnr-rowcontainer bs-navcontrolled bs-hidden-xs">




{BEGIN container_add_delete}
<div {$add_delete_chiddenattr} data-pageid="{$pageid}" data-container="add_delete" class=" bottom-margin  col-md-6 "> 

{BEGIN newrecord_controls_block}
		{BEGIN add_link}
		<a {$add_hiddenattr} data-pageid="{$pageid}" data-brick="add" type="button" class="btn btn-primary" {$addlink_attrs}>Añadir nuevo</a>
	{END add_link}

	
{END newrecord_controls_block}


{BEGIN record_controls_block}
<span {$recordcontrol_hiddenattr} data-pageid="{$pageid}" data-brick="recordcontrol">
		{BEGIN deleteselected_link}
	<button type="button" class="btn btn-default" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled>Borrar artículos seleccionados</button>
	{END deleteselected_link}
		</span>

{END record_controls_block}



</div>
{END container_add_delete}








{BEGIN container_gridinfo}
<div {$gridinfo_chiddenattr} data-pageid="{$pageid}" data-container="gridinfo" class=" bottom-margin pull-right text-right col-md-6 "> 

{BEGIN details_found}
<span {$details_found_hiddenattr} data-pageid="{$pageid}" data-brick="details_found" class="form-inline form-inline-always">
	{$records_indicator}
	<span>
	{BEGIN recordspp_block}
			{$recsPerPage}
	{END recordspp_block}
	</span>
</span>
{END details_found}


{BEGIN print_friendly}
<span {$printpanel_hiddenattr} data-pageid="{$pageid}" data-brick="printpanel" class="bs-printpanel" id="printpanelblock{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Página para imprimir">
		<span class="glyphicon glyphicon-print" ></span>
		<span class="caret"></span>
    </button>
	<ul class="dropdown-menu pull-right" >
		<li>
			<div class="container-fluid" id="print_friendly_scope{$id}">
				<div class="row">
					<div class="col-md-4">Rango:</div>
										{BEGIN print_friendly_all}
					<div class="col-md-8">
						<label for="printAll{$id}">
							<input type="radio" id="printAll{$id}" data-href="public_libro_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
							Imprimir todas las páginas
						</label>
					</div>
					{END print_friendly_all}
				</div>
				<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printPage{$id}">
							<input type="radio" id="printPage{$id}" data-href="public_libro_print.php?{$crosstable_attrs}" name="printScope" checked>
							Imprimir esta página
						</label>
					</div>
				</div>
								<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printSelection{$id}" style="color: gray;">
							<input type="radio" id="printSelection{$id}" name="printScope" disabled="disabled">
							Imprimir la selección
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="divider" role="separator"></li>

				<li>			
		{BEGIN print_details}
			<div class="rnr-printdetails">
				<label for="printDetailsToggler{$id}">
					<input type="checkbox" id="printDetailsToggler{$id}">
					Detalles de impresión
				</label>
				<div class="rnr-printdetailstables"  id="printdetailstables{$id}" style="display:none;">
					{BEGIN print_details_public_ejemplares}
						
							<div class="rnr-printdetialstable">
								<label for="printDetailspublic_ejemplares{$id}">
									<input type="checkbox" value="public_ejemplares" id="printDetailspublic_ejemplares{$id}" checked>
									Ejemplares
								</label>
							</div>
					{END print_details_public_ejemplares}
				</div>
			</div>
		{END print_details}
		</li>
		<li class="divider" role="separator"></li>

				<li>	
			<div class="rnr-printdetails">
				<label for="printPerPage{$id}">
											Resultados por página:
				</label>
				<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
			</div>
		</li>
		<li class="divider" role="separator"></li>
		<li class="rnr-printbutton">				
			<button type="button" class="btn btn-primary" id="print_friendly_button{$id}" >Imprimir</button>			
		</li>
	</ul>	
</span>

{END print_friendly}




</div>
{END container_gridinfo}







</div>{END container_gridcontrols}



{BEGIN container_center}
<div {$center_chiddenattr} data-pageid="{$pageid}" data-container="center" class="    "> 




{BEGIN container_grid}
<div {$grid_chiddenattr} data-pageid="{$pageid}" data-container="grid" class="bs-grid    "> 

{BEGIN grid_block}
	<style>
	.bs-gridcell[data-field=idlibro]:before {
		content: "{$label public_libro idlibro}";
	}
	.bs-gridcell[data-field=tituulo]:before {
		content: "{$label public_libro tituulo}";
	}
	.bs-gridcell[data-field=subtitulo]:before {
		content: "{$label public_libro subtitulo}";
	}
	.bs-gridcell[data-field=edicion]:before {
		content: "{$label public_libro edicion}";
	}
	.bs-gridcell[data-field=paginas]:before {
		content: "{$label public_libro paginas}";
	}
	.bs-gridcell[data-field=cod]:before {
		content: "{$label public_libro cod}";
	}
	.bs-gridcell[data-field=ideditorial]:before {
		content: "{$label public_libro ideditorial}";
	}
	.bs-gridcell[data-field=idautor]:before {
		content: "{$label public_libro idautor}";
	}
	.bs-gridcell[data-field=idtema]:before {
		content: "{$label public_libro idtema}";
	}
	.bs-gridcell[data-field=ididioma]:before {
		content: "{$label public_libro ididioma}";
	}
</style>
<table {$grid_hiddenattr} data-pageid="{$pageid}" data-brick="grid" class="table {$grid_classes} bs-flexgrid rnr-b-grid rnr-gridtable" cellpadding="0" >
	<thead>
										{BEGIN grid_header}
								<tr class="rnr-toprow {$gridHeader_class}" >
									{BEGIN record_header}
									{BEGIN listIcons_column}
									<th iEditCont="all">&nbsp;</th>
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<th class="">
										<input type="checkbox" {$checkboxheader_attrs}>
									</th>
									{END checkbox_column}

																		{BEGIN public_libro_dtable_column}
									<th >&nbsp;</th>
									{END public_libro_dtable_column}
									
									{BEGIN idlibro_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$idlibro_class}" data-field=idlibro>
									{BEGIN idlibro_fieldheader}
																				<span {$idlibro_orderlinkattrs}>
											{$label public_libro idlibro}
										</span>
									{END idlibro_fieldheader}
									</th>
									{END idlibro_fieldheadercolumn}
									
									
									
									
									{BEGIN tituulo_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$tituulo_class}" data-field=tituulo>
									{BEGIN tituulo_fieldheader}
																				<span {$tituulo_orderlinkattrs}>
											{$label public_libro tituulo}
										</span>
									{END tituulo_fieldheader}
									</th>
									{END tituulo_fieldheadercolumn}
									
									
									
									
									{BEGIN subtitulo_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$subtitulo_class}" data-field=subtitulo>
									{BEGIN subtitulo_fieldheader}
																				<span {$subtitulo_orderlinkattrs}>
											{$label public_libro subtitulo}
										</span>
									{END subtitulo_fieldheader}
									</th>
									{END subtitulo_fieldheadercolumn}
									
									
									
									
									{BEGIN edicion_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$edicion_class}" data-field=edicion>
									{BEGIN edicion_fieldheader}
																				<span {$edicion_orderlinkattrs}>
											{$label public_libro edicion}
										</span>
									{END edicion_fieldheader}
									</th>
									{END edicion_fieldheadercolumn}
									
									
									
									
									{BEGIN paginas_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$paginas_class}" data-field=paginas>
									{BEGIN paginas_fieldheader}
																				<span {$paginas_orderlinkattrs}>
											{$label public_libro paginas}
										</span>
									{END paginas_fieldheader}
									</th>
									{END paginas_fieldheadercolumn}
									
									
									
									
									{BEGIN cod_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$cod_class}" data-field=cod>
									{BEGIN cod_fieldheader}
																				<span {$cod_orderlinkattrs}>
											{$label public_libro cod}
										</span>
									{END cod_fieldheader}
									</th>
									{END cod_fieldheadercolumn}
									
									
									
									
									{BEGIN ideditorial_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$ideditorial_class}" data-field=ideditorial>
									{BEGIN ideditorial_fieldheader}
																				<span {$ideditorial_orderlinkattrs}>
											{$label public_libro ideditorial}
										</span>
									{END ideditorial_fieldheader}
									</th>
									{END ideditorial_fieldheadercolumn}
									
									
									
									
									{BEGIN idautor_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$idautor_class}" data-field=idautor>
									{BEGIN idautor_fieldheader}
																				<span {$idautor_orderlinkattrs}>
											{$label public_libro idautor}
										</span>
									{END idautor_fieldheader}
									</th>
									{END idautor_fieldheadercolumn}
									
									
									
									
									{BEGIN idtema_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$idtema_class}" data-field=idtema>
									{BEGIN idtema_fieldheader}
																				<span {$idtema_orderlinkattrs}>
											{$label public_libro idtema}
										</span>
									{END idtema_fieldheader}
									</th>
									{END idtema_fieldheadercolumn}
									
									
									
									
									{BEGIN ididioma_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$ididioma_class}" data-field=ididioma>
									{BEGIN ididioma_fieldheader}
																				<span {$ididioma_orderlinkattrs}>
											{$label public_libro ididioma}
										</span>
									{END ididioma_fieldheader}
									</th>
									{END ididioma_fieldheadercolumn}
									
									
									
									
									{BEGIN endrecordheader_block}
									<th class="rnr-cs">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

	</thead>
	<tbody>	
		{BEGIN grid_row}
<tr class="{$rowclass} bs-gridrow" {$rowattrs} {$rowstyle}>
	{BEGIN grid_record}
	{BEGIN listIcons_column}
	<td class="bs-gridicons" iEditCont="all" {$rowstyle} {$recordattrs}>
		{BEGIN edit_column}
	{BEGIN edit_link}
			<a class="glyphicon glyphicon-pencil" {$editlink_attrs} title="Editar"></a>
	{END edit_link}
	{END edit_column}

	
	
		{BEGIN view_column}
	{BEGIN view_link}
			<a class="glyphicon glyphicon-search" {$viewlink_attrs} title="Ver"></a>
	{END view_link}
	{END view_column}
	</td>	
	{END listIcons_column}	

		{BEGIN checkbox_column}
	<td  iEditCont="checkBox" class="bs-gridcheckbox" {$rowstyle} {$recordattrs}>
	{BEGIN checkbox}
	<input type="checkbox" {$checkbox_attrs}>
	{END checkbox}
	</td>
	{END checkbox_column}

		{BEGIN public_libro_dtable_column}
	<td class="rnr-nowrap bs-griddetails" {$rowstyle} {$recordattrs}>
	
			{BEGIN dtables_link}
		
							
				
					<a {$dtables_link_attrs}  title="Mostrar detalles">
				<span class="badge public_ejemplares_badge" {$public_ejemplares_childnumber_attr}>
					<span class="glyphicon glyphicon-th-list"></span> 
					<span class="{$public_ejemplares_cntspan_class}" >{$public_ejemplares_childnumber}</span>
				</span></a>
		{END dtables_link}
	
	
	</td>
	{END public_libro_dtable_column}


	{BEGIN idlibro_fieldcolumn}
	<td class="bs-gridcell {$idlibro_class}"  data-field=idlibro {$rowstyle} {$recordattrs}>
		{$idlibro_value}
	</td>
{END idlibro_fieldcolumn}


	{BEGIN tituulo_fieldcolumn}
	<td class="bs-gridcell {$tituulo_class}"  data-field=tituulo {$rowstyle} {$recordattrs}>
		{$tituulo_value}
	</td>
{END tituulo_fieldcolumn}


	{BEGIN subtitulo_fieldcolumn}
	<td class="bs-gridcell {$subtitulo_class}"  data-field=subtitulo {$rowstyle} {$recordattrs}>
		{$subtitulo_value}
	</td>
{END subtitulo_fieldcolumn}


	{BEGIN edicion_fieldcolumn}
	<td class="bs-gridcell {$edicion_class}"  data-field=edicion {$rowstyle} {$recordattrs}>
		{$edicion_value}
	</td>
{END edicion_fieldcolumn}


	{BEGIN paginas_fieldcolumn}
	<td class="bs-gridcell {$paginas_class}"  data-field=paginas {$rowstyle} {$recordattrs}>
		{$paginas_value}
	</td>
{END paginas_fieldcolumn}


	{BEGIN cod_fieldcolumn}
	<td class="bs-gridcell {$cod_class}"  data-field=cod {$rowstyle} {$recordattrs}>
		{$cod_value}
	</td>
{END cod_fieldcolumn}


	{BEGIN ideditorial_fieldcolumn}
	<td class="bs-gridcell {$ideditorial_class}"  data-field=ideditorial {$rowstyle} {$recordattrs}>
		{$ideditorial_value}
	</td>
{END ideditorial_fieldcolumn}


	{BEGIN idautor_fieldcolumn}
	<td class="bs-gridcell {$idautor_class}"  data-field=idautor {$rowstyle} {$recordattrs}>
		{$idautor_value}
	</td>
{END idautor_fieldcolumn}


	{BEGIN idtema_fieldcolumn}
	<td class="bs-gridcell {$idtema_class}"  data-field=idtema {$rowstyle} {$recordattrs}>
		{$idtema_value}
	</td>
{END idtema_fieldcolumn}


	{BEGIN ididioma_fieldcolumn}
	<td class="bs-gridcell {$ididioma_class}"  data-field=ididioma {$rowstyle} {$recordattrs}>
		{$ididioma_value}
	</td>
{END ididioma_fieldcolumn}

	{BEGIN endrecord_block}
	<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
	{END endrecord_block}
									
	{END grid_record}

</tr>
{END grid_row}
	</tbody>
	<tfoot>
										
	</tfoot>
</table>



{END grid_block}



</div>
{END container_grid}






</div>
{END container_center}



{BEGIN container_pagination}
<div {$pagination_chiddenattr} data-pageid="{$pageid}" data-container="pagination" class="  text-center col-md-12 "> 

{BEGIN pagination_block}
<div {$pagination_hiddenattr} data-pageid="{$pageid}" data-brick="pagination">
{$pagination}
</div>
{END pagination_block}



</div>
{END container_pagination}


			</div>
			<div class="bs-right">
				
			</div>
		</div>
		
		{$footer}
	{END body}
	</body>
</html>
